<!DOCTYPE html>
<html>

<head>
    <header th:insert="~{fragments/basic.html}"></header>
</head>

<body>
<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <!-- header section strats -->
        <header class="header_section">
            <header th:insert="~{fragments/header.html}"></header>
        </header>
    </header>
    <!-- end header section -->

</div>
<!-- end hero area -->

<!-- project section -->

<div>
    <section th:insert="~{fragments/projects.html}"></section>
</div>

<!-- end project section -->

<!-- info section -->
<div>
    <section th:insert="~{fragments/socials.html}"></section>
</div>
<!-- end info_section -->

<!-- footer section -->
<div>
    <section th:insert="~{fragments/footer.html}"></section>
</div>
<!-- end footer section -->

<div>
    <section th:insert="~{fragments/script.html}"></section>
</div>

</body>

</html>