<!DOCTYPE html>

<section class="about_section" th:fragment="specificAbout(title, text, picture, reference, hiden)">
    <div class="container">
        <div th:if="!${hiden}" class="heading_container">
            <h2>
                [[${title}]]
            </h2>
        </div>
        <div class="box">
            <div th:if="${hiden}" class="detail-box">
                <h2 th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(text),'\n','&lt;br /&gt;'))}">
                </h2>
            </div>
            <img th:if="!${hiden}" th:src="${picture}" alt=""/>
        </div>
    </div>
    <div th:if="!${hiden}" class="btn-box">
        <a th:href="${reference}">
            [[${general.getRead()}]]
        </a>
    </div>
</section>
