<!DOCTYPE html>
<section class="expand_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img th:src="${general.getExpandPicture()}" alt="images/final/expand-img.jpg"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <h2>
                        [[${general.getExpandHeader()}]]
                    </h2>
                    <p>
                        [[${general.getExpandText()}]]
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>