<!DOCTYPE html>
<section class="expand_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img th:src="${general.getExpandPicture()}" alt="images/final/expand-img.jpg"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <h2>
                        Expand your horizons, explore ours. It's all here. It's only
                        here.
                    </h2>
                    <p>
                        It is a long established fact that a reader will be distracted
                        by the readable content of a page when looking at its layout.
                        The point of using LoremIt is a long established fact that a
                        reader will be distracted by the readable content of a page when
                        looking at its layout. The point of using Lorem
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>