<!DOCTYPE html>

<section class="about_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h1>
                [[${project.getTitle()}]]
            </h1>
        </div>
        <div class="box layout_padding2-top layout_padding-bottom">
            <div class="detail-box">
                <h2 th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(project.getText()),'\n','&lt;br /&gt;'))}">
                </h2>
            </div>
        </div>
    </div>
</section>
